<header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "home","#", id: "logo"%>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "home", root_path %></li>
              <li><%= link_to "detail", detail_path %></li>
              <li><%= link_to "products", 'products'%></li>
              <li><%= link_to "signup", 'signup'%></li>
            </ul>
          </nav>
        </div>
    </header>